<div class="splash">
    <header>
    </header>
    <div class="col-md-8 col-md-offset-2">
        <div class="splash-head">
        <h2>Game Signal</h2>
        </div>
        <div class="splash-subhead-p">
            <p>
                Welcome to Game Signal, a place to review, and group up for your favorite video games.
            </p>
        </div>
    </div>
</div>
